@font-face {
	font-family: 'kirby';
	src: url('/kirby-classic.ttf') format('truetype')
}


.box {
  position: relative; 
  margin: auto; 
  display: block; 
  margin-top: 3%; 
  width: 51.5vmax; 
  height: 31vmax; 
  background: #E693A1; 
  border: none; 
}



/* .head {
  background: #E693A1;
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  z-index: 1;  
}  */

.left-cheek {
  position: absolute;
  background: #D8747A; 
  top: 40%; 
  left: 15%; 
  width: 20%; 
  height: 20%; 
  border-radius: 50%;
}


.right-cheek {
  position: absolute;
  background: #D8747A; 
  top: 40%; 
  right: 15%; 
  width: 20%; 
  height: 20%; 
  border-radius: 50%; 
}

.left-eye {
  position: absolute; 
  border-radius: 50%; 
  width: 10%; 
  height: 30%; 
  top: 10%; 
  left: 35%; 
  background: #5D2926; 
}

.right-eye {
  position: absolute; 
  border-radius: 50%; 
  width: 10%; 
  height: 30%; 
  top: 10%; 
  right: 35%; 
  background: #5D2926;  
}


.pupil { 
  position: absolute; 
  border-radius: 50%; 
  width: 60%; 
  height: 45%; 
  top: 5%; 
  left: 20%; 
  background: white; 
  z-index: 3;
}/*All shapes are on top of the invisible box. So cheeks and eyes are on z-index: 1; pupil will be on z-index: 2, 'higher layer' */  

.shade {
  position: absolute; 
  border-radius: 50%; 
  background: #3F51B5; 
  top: 60%;
  left: 17%;
  width: 65%; 
  height: 35%;  
  z-index: 2;
}

.shaper {
  position: absolute; 
  border-radius: 50%; 
  width: 60%; 
  height: 45%; 
  top: 35%; 
  left: 20%; 
  background:#5D2926; 
  z-index: 2;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* font-family: "Jost", sans-serif; */
  background: #E693A1;
}

h2 , h1, select{
  font-family: "kirby", sans-serif;
  text-shadow: 1px 5px 5px  #e45f80;
  color: #e4bd12;
  font-size: 3em;
  justify-content: center;
  display: flex;
  margin: 2rem;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 2em;
}
/* Stylisation du bouton */
.btn {
  font-family: "kirby", sans-serif;
  text-shadow: 1px 5px 5px  #e45f80;
  color: #e4bd12;
  width: 250px;
height: 50px; /* Définition de la hauteur du bouton */
margin: 10px auto; 
justify-content: center; 
display: block;
/* color: #fff; Couleur du texte */
background: #db6e89; /* Couleur de fond */
font-size: 1.5em; /* Taille de la police */
font-weight: bold; /* Épaisseur de la police */
margin-top: 20px; /* Définition de la marge en haut du bouton */
outline: none;
border: none; /* Suppression de la bordure */
border-radius: 5px; /* Arrondissement des coins */
cursor: pointer;
}

/* Effet de survol pour le bouton */
.btn:hover {
  background: #dd8198; /* Changement de couleur de fond lors du survol  avec une couleur plus clair*/
}



/* timer */
/* button {
  color: #333;
  width: 500px;
  height: 200px;
  font-size: 4rem;
  border-radius: 10px;
  outline: none;
} */

.timer {
  width: 250px;
  height: 200px;
  background: #db6e89;
  /* color: #fff; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "kirby", sans-serif;
  text-shadow: 1px 5px 5px  #e45f80;
  color: #e4bd12;
  font-size: 2rem;
}

.btnAudio {
  display: flex;
  width: 20%;
  height: 30%;
}

.hidden {
  display: none;
}

.close {
  display: flex;
  justify-content:end;
}

.btnClose {
  cursor: pointer;
  justify-content: center; 
  display: block;
  background: #db6e8900; /* Couleur de fond */
  border: none;
}


.bouche {
  display: flex;
  justify-content: space-around;
  padding: 0rem;
}
select {
  font-size: 1em;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color:#dd8198;
  border-radius: 4rem ;
  padding: 1rem;
  border: solid 3px #dd8198; 
  background:#db6e89;
}

select:hover {
    border: solid 3px #e45f80; 
    background: #dd8198;
}

.btnMute {
  padding: 0;
  width: 5rem;
  height: 4rem;
}
.btnHidden {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
}

.mouth {
  font-family: "kirby", sans-serif;
  text-shadow: 1px 5px 5px  #e45f80;
  color: #e4bd12;
  font-size: 2em;
  text-align: center;
  position: absolute; 
  background: #950425; 
  border-radius: 50%; 
  top: 60%; 
  left: 40%; 
  width: 20%; 
  height: 30%; 
  z-index: 2; 
}


.rythme37 {
  animation: 10s linear  infinite  normal  bouche37;
}
.rythme46 {
  animation: 10s linear  infinite  normal  bouche46;
}
.rythme55 {
  animation: 10s linear  infinite  normal  bouche55;
}
.rythme64 {
  animation: 10s linear  infinite  normal  bouche64;
}



@keyframes bouche37 {
  0% { 
    transform: scale(0.2);
  }
  70%{
    transform: scale(1.9); 
  }
  100% { 
    transform: scale(0.2);
  }
}

@keyframes bouche46 {
  0% { 
    transform: scale(0.2);
  }
  40%{
    transform: scale(1.9); 
  }
  100% { 
    transform: scale(0.2);
  }
}

@keyframes bouche55 {
  0% { 
    transform: scale(0.2);
  }
  50%{
    transform: scale(1.9); 
  }
  100% { 
    transform: scale(0.2);
  }
}

  @keyframes bouche64 {
  0% { 
    transform: scale(0.2);
  }
  60%{
    transform: scale(1.9); 
  }
  100% { 
    transform: scale(0.2);
  }
}




